body {
  font-family: Arial, sans-serif;
  background-color: #ced0cc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table-container {
  background-color: #abb0ad;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.user-table-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.user-table-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login-container div {
  margin-bottom: 20px;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4b4f4c;
  color: white;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

table th:hover {
  background-color: #696c6a;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  color: #333;
}

.age-sort-indicator {
  margin-left: 5px;
  font-size: 12px;
}
